.h1{
	color:darkblue;
	background:lightblue;
	font-size:40px;
	font-style:italic;
	font-weight:bold;
}

.seccion1{
	color:darkblue;
	background:lightblue;
	font-size:18px;
	font-style:normal;
	font-weight:normal;
}


.distrito{
	color:purple;
	background:lavender;
	font-size:20px;
	font-style:italic;
	font-weight:bold;
}

.ruta{
	color:sienna;
	background:beige;
	font-size:18px;
	font-style:normal;
	font-weight:bold;
}

.ruta1{
	color:saddlebrown;
	background:beige;
	font-size:18px;
	font-style:normal;
	font-weight:bold;
}

.contacto{
	color:brown;
        font-size:18px;
	font-style:normal;
	font-weight:normal;
}

.contacto1{
	color:steelblue;
        font-size:16px;
	font-style:normal;
	font-weight:normal;
}

.texto{
	width:50%;
}