.h1{
	color:darkblue;
	background:lightblue;
	font-cize:40px;
	font-style:italic;
	font-weight:bold;
}

.seccion1{
	color:darkblue;
	background:lightblue;
	font-cize:18px;
	font-style:normal;
	font-weight:normal;
}


.distrito{
	color:purple;
	background:lavender;
	font-cize:20px;
	font-style:italic;
	font-weight:bold;
}

.ruta{
	color:sienna;
	background:beige;
	font-cize:18px;
	font-style:normal;
	font-weight:bold;
}

.ruta1{
	color:saddlebrown;
	background:beige;
	font-cize:18px;
	font-style:normal;
	font-weight:bold;
}

.contacto{
	color:brown;
    font-cize:18px;
	font-style:normal;
	font-weight:normal;
}

.contacto1{
	color:steelblue;
    font-cize:16px;
	font-style:normal;
	font-weight:normal;
}

.texto{
	width:50%;
}